
<%= form_for @user do |f| %>
<div class="three-col-group">
<div>  
  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>
  

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
  </div>
<div>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>
  

  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p>
 

  
  <p><%= f.label :instagram_username %></p>
  <p><%= f.text_field :instagram_username %></p>
  </div>
  <div>
  <p><%= f.label "Date of Birth" %></p>
  <p><%= f.date_field :dob %></p>
  

  <p><%= f.label :profile_picture_url %></p>
  <p><%= f.text_field :profile_picture_url %></p>
  


  <p><p><%= f.label :phone_number %></p>
  <p><%= f.phone_field :phone_number %></p>
  </div>
</div>
  <%= f.submit @user.id.nil? ? "Join!" : "Save Changes" %>
<% end %>