<h1>Sign Up For HashBack</h1>

<% unless @user.errors.messages.empty? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="main-text">
  <br>
  <%= form_for @user do |f| %>
<div class="three-col-group">
<div> 
  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>
  

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  </div>

<div>
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
  


  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>
  </div>
<div>
  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p>
  

  
  <p><%= f.label :instagram_username %></p>
  <p><%= f.text_field :instagram_username %></p>
</div>
</div>
  <%= f.submit @user.id.nil? ? "Join!" : "Save Changes" %>

<% end %>
<br>
</div>