
      <section id="photostack" class="photostack photostack-start">
        <div>
          <figure>
            <a href="/stories/<%= @stories.first.id%>" class="photostack-img"><img src="<%= @stories.first.photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.first.hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.first.the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(2).id%>" class="photostack-img"><img src="<%= @stories.find(2).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(2).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(2).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(3).id%>" class="photostack-img"><img src="<%= @stories.find(3).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(3).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(3).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(4).id%>" class="photostack-img"><img src="<%= @stories.find(4).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(4).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(4).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(5).id%>" class="photostack-img"><img src="<%= @stories.find(5).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(5).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(5).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(6).id%>" class="photostack-img"><img src="<%= @stories.find(6).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(6).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(6).the_story %></p>
          </figure>
          <figure data-dummy>
            <a href="/stories/<%= @stories.find(7).id%>" class="photostack-img"><img src="<%= @stories.find(7).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(7).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(7).the_story %></p>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/fffaf6d822d811e3ba2d22000a1f97cd_7.jpg" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">Wonderful</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage4.ak.instagram.com/2dcabdd623d911e39dfb22000a9e5ac6_7.jpg" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">Love Addict</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/9620923ec54211e2928c22000a9f3092_7.jpg" alt="img10"/></a>
            <figcaption>
              <h2 class="photostack-title">Friendship</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/f0324adaa48411e2816b22000a9f17df_7.jpg" alt="img11"/></a>
            <figcaption>
              <h2 class="photostack-title">White Nights</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage2.ak.instagram.com/776f44e86ee511e1abb01231381b65e3_7.jpg" alt="img12"/></a>
            <figcaption>
              <h2 class="photostack-title">Serendipity</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/f029d1840e7511e2afe522000a1c8934_7.jpg" alt="img13"/></a>
            <figcaption>
              <h2 class="photostack-title">Pure Soul</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage5.ak.instagram.com/b6572bdade7a11e19f661231381b69db_7.jpg" alt="img14"/></a>
            <figcaption>
              <h2 class="photostack-title">Winds of Peace</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/8f35358acc8511e1aaec22000a1e88af_7.jpg" alt="img15"/></a>
            <figcaption>
              <h2 class="photostack-title">Shades of blue</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
            </figcaption>
          </figure>
        </div>
      </section>

       <div class="description main-text">
        <p>Let's change the world one <strong><span id="hashtag">#hashtag</span> </strong>at a time.</p>
      
      </div>


      <section class="description">
        <p>Hashback is a way to share to give <strong>love</strong> and <strong>encouragement</strong> digitally.</p>
        <p><strong>Here is how it works.</strong></p>
        <p>Share your story.</p>
        <p>Find other stories.</p>
        <p>Use the Hashtag.</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="110px" height="110px" class="polaroid" preserveAspectRatio="xMidYMid meet" viewBox="0 0 300 300">
          <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
          <rect id="svg_2" height="0" width="1" y="108" x="123"/>
          <rect id="svg_6" height="194.264154" width="194.264154" y="22.15094" x="18"/>
          <rect id="svg_7" height="116.226417" width="152.754719" y="44.566035" x="38.754717"/>
          <rect id="svg_1" height="194.264154" width="194.264154" y="83.584903" x="87.73585"/>
          <rect id="svg_3" height="116.226417" width="152.754719" y="105.999998" x="108.490567"/>
        </svg>
        <p>More to come soon.</p>
      </section>
   
    </div><!-- /container -->
    <script>
      new Photostack( document.getElementById( 'photostack' ), {
        callback : function( item ) {}} );
    </script>
  </body>
</html>