
      <section id="photostack" class="photostack photostack-start">
        <div>
          <figure>
            <a href="/stories/<%= @stories.first.id%>" class="photostack-img"><img src="<%= @stories.first.photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.first.hashtag %></h2>
              <div class="photostack-back">
                <a href="/stories/<%= @stories.first.id%>"><p><%= @stories.first.the_story %></p></a>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(2).id%>" class="photostack-img"><img src="<%= @stories.find(2).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(2).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(2).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(3).id%>" class="photostack-img"><img src="<%= @stories.find(3).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(3).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(3).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(4).id%>" class="photostack-img"><img src="<%= @stories.find(4).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(4).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(4).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(5).id%>" class="photostack-img"><img src="<%= @stories.find(5).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(5).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(5).the_story %></p>
            </figcaption>
          </figure>
          <figure>
            <a href="/stories/<%= @stories.find(7).id%>" class="photostack-img"><img src="<%= @stories.find(7).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(7).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(7).the_story %></p>
          </figure>
          <figure data-dummy>
            <a href="/stories/<%= @stories.find(8).id%>" class="photostack-img"><img src="<%= @stories.find(8).photo_url %>" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">#<%= @stories.find(8).hashtag %></h2>
              <div class="photostack-back">
                <p><%= @stories.find(8).the_story %></p>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/fffaf6d822d811e3ba2d22000a1f97cd_7.jpg" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">#thebigadventure</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage4.ak.instagram.com/2dcabdd623d911e39dfb22000a9e5ac6_7.jpg" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">#thecuteness</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/9620923ec54211e2928c22000a9f3092_7.jpg" alt="img10"/></a>
            <figcaption>
              <h2 class="photostack-title">#sayinggoodbye</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/f0324adaa48411e2816b22000a9f17df_7.jpg" alt="img11"/></a>
            <figcaption>
              <h2 class="photostack-title">#zurislove</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage2.ak.instagram.com/776f44e86ee511e1abb01231381b65e3_7.jpg" alt="img12"/></a>
            <figcaption>
              <h2 class="photostack-title">#myfirstvisit</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/f029d1840e7511e2afe522000a1c8934_7.jpg" alt="img13"/></a>
            <figcaption>
              <h2 class="photostack-title">#futureforbrian</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage5.ak.instagram.com/b6572bdade7a11e19f661231381b69db_7.jpg" alt="img14"/></a>
            <figcaption>
              <h2 class="photostack-title">#theaccident</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage8.ak.instagram.com/8f35358acc8511e1aaec22000a1e88af_7.jpg" alt="img15"/></a>
            <figcaption>
              <h2 class="photostack-title">#kidsoftol</h2>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage1.ak.instagram.com/30f668049ad011e1af7612313813f8e8_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#oneyellowballoon</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage7.ak.instagram.com/f70e54fc170211e3950422000aa8010c_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#littleaziza</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage6.ak.instagram.com/ca25d86a382811e3a5e422000aaa08f8_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#grandmacarrol</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage6.ak.instagram.com/e4af1f823d1611e3a5c622000aa8033b_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#peejshope</h2>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/37983196471911e3938522000a1fb8b0_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#lovethecampassion</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage4.ak.instagram.com/cdcb19627b8611e2943422000a9f1416_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#thecarcrash</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage3.ak.instagram.com/407da1d2e9eb11e2ae7222000aaa0519_7.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#mattsstory</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage4.ak.instagram.com/69cf84de38b411e38ab422000aa80430_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#survivornate</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage4.ak.instagram.com/7e01c7fe390011e3afd722000a1f98d6_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#jadesstruggle</h2>
            </figcaption>
          </figure>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="http://distilleryimage5.ak.instagram.com/81808bce846211e3b98c0e4d1ad2c28d_8.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">#giveericahope</h2>
            </figcaption>
          </figure>
        </div>
      </section>

       <div class="description main-text">
        <p>Let's change the world one <strong><span id="hashtag">#hashtag</span> </strong>at a time.</p>
      
      </div>


      <section class="description">
        <p>Hashback is a way to share to give <strong>love</strong> and <strong>encouragement</strong> digitally.</p>
        <p><strong>Here is how it works.</strong></p>
        <div id="pattern" class="pattern">
  <div class="three-col-group">
    <div>
        <p>Share your story.</p>
      </div><div>
        <p>Find other stories.</p>
        </div><div>
        <p>Use the Hashtag.</p>
      </div>
    </div>
  </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="110px" height="110px" class="polaroid" preserveAspectRatio="xMidYMid meet" viewBox="0 0 300 300">
          <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
          <rect id="svg_2" height="0" width="1" y="108" x="123"/>
          <rect id="svg_6" height="194.264154" width="194.264154" y="22.15094" x="18"/>
          <rect id="svg_7" height="116.226417" width="152.754719" y="44.566035" x="38.754717"/>
          <rect id="svg_1" height="194.264154" width="194.264154" y="83.584903" x="87.73585"/>
          <rect id="svg_3" height="116.226417" width="152.754719" y="105.999998" x="108.490567"/>
        </svg>
        <p>More to come soon.</p>
      </section>
   
    </div><!-- /container -->
    <script>
      new Photostack( document.getElementById( 'photostack' ), {
        callback : function( item ) {}} );
    </script>
  </body>
</html>