<%= form_for @story do |f| %>
  
  <p>
  <%= f.label :hashtag %>
  <%= f.text_field :hashtag %>
  </p>

  <p>
  <%= f.label :the_story %>
  <%= f.text_area :the_story %>
  </p>

  <p>
  <%= f.label :photo_url %>
  <%= f.url_field :photo_url %>
  </p>

  <%= f.submit %>
<% end %>