<h1><%= @story.name %></h1>
<img src="<%= @story.photo_url %>" width="300px"/>
<p>Genre: <%= @story.genre %></p>
<h2>Songs:</h2>
<ul>
<% @songs.each do |song| %>
  <li><%= song.title %>, 
      <%= song.year %> 
      <audio controls>
        <source src="<%= song.preview_url %>">
      </audio>
      <br/>
      <a href="/stories/<%= @story.id %>/songs/<%= song.id %>/edit">Edit</a>
      
       <%= form_tag story_song_path(@story, song), method: "delete" do %>
        <%= submit_tag("Delete") %>
      <% end %>
  </li>
<% end %>
</ul>

<br/>
<a href="/stories/<%= @story.id %>/songs/new">Add Song</a>

<br/>
<a href="/stories">Stories Home</a>