<h1>#<%= @story.hashtag %></h1>
<img src="<%= @story.photo_url %>" width="300px"/>
<p>The Story: <%= @story.the_story %></p>
<h1>Most Recent Instagram Pic</h1>
<!-- <img src="<%= @pics %>" width="300px"/> -->



<ul>
<% @pics.each do |pic| %>

  <img src="<%= pic %>" width="300px"/>
  <br/>
<% end %>
</ul>


<br/>
<a href="/stories/new">Add A Story</a>

<br/>
<a href="/stories">Stories Home</a>
