

<div id="pattern" class="pattern profile">
  <div class="three-col-group">
    <div>
      <div class="story-box">
        <h1>The Hashtag</h1>
        
        <p><img src="<%= @story.photo_url %>" width="250px"/></p>
        <p>#<%= @story.hashtag %></p>
        <br>
      </div>
    </div>
    <div>
      <div class="story-box"  id="the-story">
        <h1>The Story</h1>
        <p><%= @story.the_story %></p>
      </div>
    </div>
    <div>
      <div class="story-box" id="the-love">
        <h1>The Love</h1>
        <p>This story has been told <strong id="story-stats"><%= @tag_count %></strong> times.</p>
        <div>
          HashBack Told By: 
        </div>
        <a href="/users/<%= @user.id %>"><img src="<%= @instagram["profile_picture"] %>" width="60px;"/></a>
      </div>
    </div>
  </div>
</div>

<h1>Most Recent Instagram Pics</h1>

<ul>

  <div id="pattern" class="pattern">
    <ul class="insta_story_grid">
      <% @pics_info.each do |pic| %>
      <li>
        <a href="<%= pic["link"]%>" target="_blank"><img src="<%= pic["images"]["standard_resolution"]["url"] %>" width="300px"/></a>
        <a href="http://instagram.com/<%= pic["user"]["username"]%>" target="_blank"><p>@<%= pic["user"]["username"]%></p></a>
        <p id="likes"><%= pic["likes"]["count"]%> Likes</p>
        <p><%= truncate(pic["caption"]["text"], :length => 80)  unless pic["caption"].nil? %></p>

      </li>
      <% end %>
    </ul>
  </div>

